a {
	text-decoration: none;
}

ul {
	padding-left: 0;
}
li {
	list-style: none;
}

/** {
	box-sizing: content-box;
}
*/
body {
	font-family: 'Montserrat', Arial, serif;
	background-image: url('media/violetwinter.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
}

::selection {
	background-color: #EBEBF2;
	color: #83828D;
}

.box-img{
	width:298px;
	height:315px;
	padding: 10px;
}

#accesbar{
display: inline;
}

h2{
	padding-left: 2%;
	text-align: center;
}

h4{
	font-size:0.6em;
}

#contain {
   min-height:100%;
   position:relative;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

#container{
    position: relative;
    width: 200px;
    height: 200px;
}

/*
Body
*/

.banner {	
	width: 100%;
	height: 100%;
	z-index:1;
	padding-left: 55px;
	padding-top: 100px;
	margin: 0px auto;
	background-size: 100%;
	overflow: hidden;
	font-size: 4em;
	color: white;
	font-family: font-family: 'Montserrat', Arial, serif;
	text-shadow: 2px 2px #342B3A;
}

.subtitle {
	font-size: 20px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.authors{
	font-size: 14px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	 line-height: 100%;
}

.description {
  font-size: 0.75em;
}

.panel-title{
  font-size: 0.85em;
}


/*******************/
/* Tabs            */
/******************/

.tabdemo ul {
  margin: 0;
  padding: 0;
}

.tabdemo .tab-content-item { 
	max-width: 100%; 
	box-sizing:content-box;
}

.my-tabs { margin: 0 auto }

.my-tabs .tab-content-item {
  padding: 15px 15x 15px 25px;
  background: #f9f9f9;
 /* -webkit-columns: 2;
  -moz-columns: 2;
  columns: 1;*/
  font-size: 24px;
  line-height: 32px;
  box-sizing:content-box;
}

/*.content {
  background: #f9f9f9;
  font-size: 20px;
  line-height: 32px;
}
*/


.my-tabs .tab-menu {
  margin-bottom: 20px;
  display: table;
  width: 100%;
}

@media (min-width: 768px){
	.my-tabs li {
	cursor: pointer;
	padding: 0 12px;
	display: table-cell;
	text-align: center;
	}
	
	.my-tabs li:first-of-type 
	{ padding-left: 0 }
	.my-tabs li:last-of-type 
	{ padding-right: 0 }

	.me {
	border-radius:75%; 
	height: 75%; width: 75%;
	margin-left: auto;
    margin-right: auto;
	display: block;
	}
	
	.pols {
		width: 306px;
		height: auto;
	}

}

@media (max-width: 767px){
	.my-tabs li {
	cursor: pointer;
	padding: 0 12px;
	display: list-item;
	text-align: center;
	}
	
	.me {
	border-radius:75%; 
	height: 40%; width: 40%;
	margin-left: auto;
    margin-right: auto;
	display: block;
	}

	.pols {
		width: 306px;
		height: auto;
	}

}


.my-tabs li a {
  background-color: #f9f9f9;
  border-radius: 1px;
  padding: 20px 40px;
  display: block;
}

.my-tabs li.active a {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 8px 2px rgba(234,57,181,.33)
}

.my-tabs li.hover a {
	background-color: #A1BFED;
}

.my-tabs li a { text-decoration: none }

/**************************/
/*       Bubble           */
/**************************/

.bubble 
{
position: relative;
width: 385px;
height: 120px;
padding: 0px;
background: #FFFFFF;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border: #A1EDD2 solid 8px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 24px 40px 24px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -40px;
top: 40px;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 31px 47px 31px 0;
border-color: transparent #A1EDD2;
display: block;
width: 0;
z-index: 0;
left: -55px;
top: 33px;
}

/*** ************/
/* Polaroids
/****************/

.polaroid {
  position: relative;
  width: 240px;
  margin: 0 4%;
}
 
.polaroid img {
  border: 10px solid #FFF;
  border-bottom: 45px solid #FEFEFE;
  -webkit-box-shadow: 3px 3px 3px #777;
  -moz-box-shadow: 3px 3px 3px #777;
  box-shadow: 3px 3px 3px #777;
  width: 306px;
 height: auto;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  color: #888;
  
}

div.note {
margin-top: 5px; text-align: center; box-shadow: 10px 10px 5px #EA39B5; background-color:white; padding: 7px; -ms-transform: rotate(-7deg); -webkit-transform: rotate(-7deg);
}